<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
	layout:decorator="template">

<head>
<meta charset="utf-8" />
<title>My Bank</title>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
	
<div layout:fragment="MyBlock">
		<div class="container-fluid">

			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Welcome</a></li>
				<li class="breadcrumb-item active">My Accounts</li>
			</ol>




		</div>
	</div>

		
</body>

</html>
