<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
	layout:decorator="template">

<head>
<meta charset="utf-8" />
<title>My Bank</title>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

	<div layout:fragment="MyBlock">
		<div class="container-fluid">

			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Welcome</a></li>
				<li class="breadcrumb-item active">My Accounts Situation</li>
			</ol>

			<div class="card mb-3">
				<div class="card-header">
					<i class="fa fa-table"></i> My Active Accounts
				</div>

				<div class="card-body" th:action="@{/}" method="post">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%"
							cellspacing="0">
							<thead>
								<tr>
									<th>Account ID</th>
									<th>Creation Date</th>
									<th>Credit</th>
									<th>Type</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="compte : ${comptes}">
									<td th:text="${compte?.codeCompte}"></td>
									<td th:text="${compte?.dateCreation}"></td>
									<td>
										<div th:if="${compte?.class.simpleName=='CompteCourant'}">
											<a th:text="${compte?.solde}"></a> <a> - authorized bank
												overdraft - </a> <a th:text="${compte?.decouvert}  "></a>


										</div>
										<div th:if="${compte?.class.simpleName=='CompteEpargne'}">
											<a th:text="${compte?.solde}"></a> <a> - savings Account
												Rate - </a> <a th:text="${compte?.taux}  "></a> <a> % </a>

										</div>
									</td>

									<td>

										<div th:if="${compte?.class.simpleName=='CompteCourant'}">

											<a> Checking Account</a>

										</div>

										<div th:if="${compte?.class.simpleName=='CompteEpargne'}">

											<a> Saving Account </a>

										</div>
									</td>
								</tr>
							</tbody>

						</table>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>

</html>
